*{
    background-color: lightgrey;
    
    justify-content: center;
    
    align-items: center;
}
#app {
    display: flex;
    text-align: center;
}
.div{
    margin: auto;
    position: relative;
}